# Created by .ignore support plugin (hsz.mobi)
### GFPHP template
# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/
test/

# MAC OS
.DS_Store

# Composer
/vendor
/Log
composer.lock

# Framework
/runtime
